img {
   /* max-height: 70% !important; 
   max-width: 70% !important; */
   border: none !important;
   box-shadow: none !important;
}
section {
   padding: 0px !important;
   /* max-height: 85% !important; */
}
.bluetable tr {
	border: 2px solid white !important;
}
.bluetable td {
	border: 2px solid white !important;
}
@media print {
  body {
	padding: 0px !important;
    font-size: 9pt !important;
	color: #727272;
  }
  #main {
	  width: 100% !important; 
	  max-width: 100% !important;
  }
}
.staff-meta h4{margin-bottom:.125rem}
.staff-meta h4 a{text-decoration:underline;color:#333;background-color:transparent}
.staff-meta h4 a:active{color:#f17430}
.staff-meta p{margin-bottom:.25rem;line-height:1.2}
.staff-meta p br{display:none}
.staff-meta p .smaller{margin:.5rem 0;display:inline-block;font-size:1rem;line-height:1.2}
.staff-meta h4{margin-bottom:.125rem}
.staff-meta h4 a{text-decoration:underline;color:#333;background-color:transparent}
.staff-meta h4 a:active{color:#f17430}
.staff-meta p{margin-bottom:.25rem;line-height:1.2}
.staff-meta p{margin-bottom:.25rem;line-height:1.2}
.staff-meta{padding-top:1rem}
.staff-pic img{border-radius:50%;background-color:#ff9f55;padding-right:4px;width:74px;height:70px;max-width:74px;margin-right:1rem}
